{% extends "base.html" %}
{% block "page-title" %}{{month | title}}{% endblock  %}
{% load static %}
{% block "css-links" %}
<link rel="stylesheet" href="{% static "challanges/challange.css"%}">
<link rel="stylesheet" href="{% static "challanges/includes/header.css"%}">
{% endblock  %}

  {% block "page-contents" %}
    {% include "challanges/includes/header.html" %}
    <h1>This is {{month | title}} challange</h1>
    {% if text != None%}
    <h2>{{text}}</h2>
    {% else %}
    <p>There is no challange for this month</p>
    {% endif %}
    {% endblock  %}
 