{% extends "base.html" %}
{% load static %}

{% block "css-links" %}
<link rel="stylesheet" href="{% static "challanges/index.css"%}">
<link rel="stylesheet" href="{% static "challanges/includes/header.css"%}">
{% endblock  %}

{% block "page-title" %}Months{% endblock  %}

{% block "page-contents" %}
{% include "challanges/includes/header.html" %}
    <ul>
        {%for month in month_names%}
        <li><a href="{% url "month-challanges" month %}">{{month|title}}</a></li>
        {%endfor%}
    </ul>
{% endblock  %}
